<form>

      <fieldset class="pane">
        <legend class="heading-c">I am legend</legend>
        <div class="clearfix">
          <label>Text field</label>
          <input type="text" class="input-text" />
        </div>
      </fieldset>

    </form>
