<h3>Primary Palette</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">White #ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1a1a1a;"></span>
		<span class="sg-label">Text #1a1a1a</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ebeae4;"></span>
		<span class="sg-label">Burlap #ebeae4</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0074bd;"></span>
		<span class="sg-label">Drupal Blue #0074bd </span>
	</li>
</ul>
<h3>Secondary Palette</h3>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fcfcfa;"></span>
		<span class="sg-label">Eggshell #fcfcfa</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f5f5f2;"></span>
		<span class="sg-label">Eggshell #2#f5f5f2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: hsla(0%, 0%, 42%, 0.65);"></span>
		<span class="sg-label">Smoked Glass hsla(0, 0, 42%, 0.65)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #595959;"></span>
		<span class="sg-label">Light text #595959</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #40b6ff;"></span>
		<span class="sg-label">Selection #40b6ff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c72100;"></span>
		<span class="sg-label">Danger #c72100</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e62600;"></span>
		<span class="sg-label">Error #e62600</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e09600;"></span>
		<span class="sg-label">Warning #e09600</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #77b259;"></span>
		<span class="sg-label">Success #77b259</span>
	</li>
</ul>
