<nav role="navigation" data-drupal-nav-tabs>
  <div class="tabs js-nav-tabs__target">
    <a class="tabs__tab is-active" href="#">
      Lorem <i class="iconset-libricons icon-nav-next tabs__icon" aria-hidden="true"></i>
    </a>
    <a class="tabs__tab" href="#">
      Ipsum dolor <i class="iconset-libricons icon-nav-next tabs__icon" aria-hidden="true"></i>
    </a>
    <a class="tabs__tab" href="#">
      Sit amet <i class="iconset-libricons icon-nav-next tabs__icon" aria-hidden="true"></i>
    </a>
    <a class="tabs__tab" href="#">
      Consectetur <i class="iconset-libricons icon-nav-next tabs__icon" aria-hidden="true"></i>
    </a>
  </div>
</nav>
