<ul class="nav-list">
  <li class="nav-list__item">
    <a class="nav-list__link" href="#">
      <span class="nav-list__title"><i class="iconset-libricons icon-chevron-disc-right nav-list__icon"></i><span class="visually-hidden">Previous</span></i>Status report</span>
      <p class="nav-list__description">Overview of site operation and any detected problems.</p>
    </a>
  </li>
  <li class="nav-list__item">
    <a class="nav-list__link" href="#">
      <span class="nav-list__title"><i class="iconset-libricons icon-chevron-disc-right nav-list__icon"></i>Available updates</span>
      <p class="nav-list__description">Check for updates to your installed modules and themes.</p>
    </a>
  </li>
  <li class="nav-list__item">
    <a class="nav-list__link" href="#">
      <span class="nav-list__title"><i class="iconset-libricons icon-chevron-disc-right nav-list__icon"></i>Recent log messages</span>
    </a>
  </li>
</ul>
