 <ul class="clearfix">
      <li class="inline-sibling">

        <button class="button" type="button">Button (button)</button>

      </li>
      <li class="inline-sibling">

        <button class="button button--primary" type="button">Primary (button)</button>

      </li>
      <li class="inline-sibling">

        <button class="button" type="button" disabled>Button (button, disabled)</button>

      </li>
    </ul>
    <ul class="clearfix">
      <li class="inline-sibling">

        <input type="submit" class="button" value="Button (submit)" />

      </li>
      <li class="inline-sibling">

        <input type="submit" class="button button--primary" value="Primary (submit)" />

      </li>
      <li class="inline-sibling">

        <input type="submit" class="button" value="Button (submit, disabled)" disabled />

      </li>
    </ul>
    <ul class="clearfix">
      <li class="inline-sibling">

        <a href="#" class="button">Button (link)</a>

      </li>
      <li class="inline-sibling">

        <a href="#" class="button button--primary">Primary (link)</a>

      </li>
      <li class="inline-sibling">

        <a href="#" class="button is-disabled">Button (link, disabled)</a>

      </li>
    </ul>
    <ul class="clearfix">
      <li class="inline-sibling">

        <button class="button button--small" type="button">Small</button>

      </li>
      <li class="inline-sibling">

        <input type="submit" class="button button--small" value="Small (submit)" />

      </li>
      <li class="inline-sibling">

        <a href="#" class="button button--small">Small (link)</a>

      </li>
      <li class="inline-sibling">

        <button class="button button--small" type="button" disabled>Small (disabled)</button>

      </li>
      <li class="inline-sibling">

        <button class="button button--small button--primary" type="button">Small Primary</button>

      </li>
      <li class="inline-sibling">

        <button class="button button--primary button--small" type="button" disabled>Small Primary (disabled)</button>

      </li>
    </ul>
    <ul class="clearfix">
      <li class="inline-sibling">

        <button class="link link--danger" type="button">Danger action</button>

      </li>
      <li class="inline-sibling">

        <button class="link link--danger" type="button" disabled>Danger action (disabled)</button>

      </li>
    </ul>
