    <ul class="clearfix">
      <li class="inline-sibling">

        <button class="button button--popup js-popup" type="button" aria-haspopup="true" data-target="popup-2" data-component="popup">Dropdown <i class="caret" aria-hidden="true"></i></button>

        <div class="popup" id="popup-2" aria-hidden="true">
          <ul class="menu js-menu" role="menu" data-component="menu" tabindex="-1">
            <li role="presentation">
              <button class="menu__item js-menu__item" type="button" role="menuitem" id="ui-id-7">Button option</button>
            </li>
            <li role="presentation">
              <input class="menu__item js-menu__item" type="submit" role="menuitem" value="Input option" id="ui-id-8">
            </li>
            <li role="presentation">
              <a href="#" class="menu__item js-menu__item" role="menuitem" id="ui-id-9">Link option</a>
            </li>
          </ul>
        </div>

      </li>

      <li class="inline-sibling">

        <button class="button button--popup js-popup" type="button" aria-haspopup="true" data-target="popup-3" data-component="popup">Dropdown <i class="caret" aria-hidden="true"></i></button>

        <div class="popup" id="popup-3" aria-hidden="true">
          <ul class="menu js-menu" role="menu" data-component="menu" tabindex="-1">
            <li role="presentation">
              <a href="#" class="menu__item js-menu__item" role="menuitem" id="ui-id-10">Eeney</a>
            </li>
            <li role="presentation">
              <a href="#" class="menu__item js-menu__item" role="menuitem" id="ui-id-11">Meeney</a>
            </li>
            <li role="presentation">
              <a href="#" class="menu__item js-menu__item" role="menuitem" id="ui-id-12">Miney</a>
            </li>
            <li role="presentation">
              <a href="#" class="menu__item js-menu__item" role="menuitem" id="ui-id-13">Mo</a>
            </li>
          </ul>
        </div>

      </li>
    </ul>

    <div class="leader">
      <div class="button-group js-split-button">
        <button class="button" type="button">Button</button>
        <button class="button button--iconic button--popup js-popup" type="button" aria-haspopup="true" data-target="popup-4" data-component="popup"><i class="caret"><span class="visually-hidden">Menu</span></i></button>
      </div>

      <div class="popup" id="popup-4" aria-hidden="true">
        <ul class="menu js-menu" role="menu" data-component="menu" tabindex="-1">
          <li role="presentation">
            <a href="#" class="menu__item js-menu__item" role="menuitem" id="ui-id-14">Cut</a>
          </li>
          <li role="presentation">
            <a href="#" class="menu__item js-menu__item" role="menuitem" id="ui-id-15">Copy</a>
          </li>
          <li role="presentation">
            <a href="#" class="menu__item js-menu__item" role="menuitem" id="ui-id-16">Paste</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="leader">
      <div class="button-group">
        <button class="button" type="button">Sleepy</button>
        <button class="button button--popup js-popup" type="button" aria-haspopup="true" data-target="popup-5" data-component="popup">Sneezy <i class="caret" aria-hidden="true"></i></button>
        <button class="button" type="button">Dopey</button>

        <div class="popup" id="popup-5" aria-hidden="true">
          <ul class="menu js-menu" role="menu" data-component="menu" tabindex="-1">
            <li role="presentation">
              <a href="#" class="menu__item js-menu__item" role="menuitem" id="ui-id-17">Show navbar</a>
            </li>
            <li role="presentation">
              <a href="#" class="menu__item js-menu__item" role="menuitem" id="ui-id-18">Show sidebar</a>
            </li>
            <li role="presentation">
              <a href="#" class="menu__item js-menu__item" role="menuitem" id="ui-id-19">Show minibar</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
