<p class="message message--error">This is what an error message looks like</p>
<p class="message message--success">This is what a success message looks like</p>
<p class="message message--warning">This is what a warning message looks like</p>
<p class="message message--info">This is what an information message looks like.</p>
