<p class="message message--error"><i class="iconset-libricons icon-error message__icon" aria-hidden="true"></i>This is what an error message looks like</p>
<p class="message message--warning"><i class="iconset-libricons icon-warning message__icon" aria-hidden="true"></i>This is what a warning message looks like</p>
<p class="message message--success"><i class="iconset-libricons icon-check message__icon" aria-hidden="true"></i>This is what success looks like</p>
