<form>
      <div class="block-sibling">

        <label>Text field</label>
        <input type="text" class="input-text" />

      </div>
      <div class="block-sibling">

        <label>Text field</label>
        <input type="text" class="input-text is-disabled" disabled />
        <p class="form-item-description">This text field is disabled.</p>

      </div>
      <div class="block-sibling">

        <label class="is-invalid">Text field*</label>
        <input type="text" class="input-text is-invalid" />
        <p class="form-item-description is-invalid">Title is required.</p>

      </div>
      <div class="block-sibling">

        <label>Text field</label>
        <input type="text" class="input-text" />

      </div>
      <div class="block-sibling">

        <label>Password</label>
        <input type="password" class="input-text" />

      </div>
      <div class="block-sibling">

        <label>Web Address</label>
        <input type="url" class="input-text" />

      </div>
      <div class="block-sibling">

        <label>Email Address</label>
        <input type="email" class="input-text" />

      </div>
      <div class="block-sibling">

        <label>Textarea</label>
        <textarea class="textarea"></textarea>

      </div>
      <div class="block-sibling">

        <label>Search</label>
        <input type="search" class="input-search" placeholder="Enter keyword(s)" />
        <input type="submit" class="button search" value="Search" />

      </div>
    </form>
