 <nav role="navigation">
    <div class="tabs">
      <a class="tabs__tab is-active" href="#">
        List <i class="iconset-libricons icon-nav-next tabs__icon" aria-hidden="true"></i>
      </a>
      <a class="tabs__tab" href="#">
        Update <i class="iconset-libricons icon-nav-next tabs__icon" aria-hidden="true"></i>
      </a>
      <a class="tabs__tab" href="#">
        Settings <i class="iconset-libricons icon-nav-next tabs__icon" aria-hidden="true"></i>
      </a>
    </div>
  </nav>
