<div class="l-container">
  <div class="l-grid l-grid--half"><div class="demo-block"></div></div>
  <div class="l-grid l-grid--half"><div class="demo-block"></div></div>
</div><!--end .l-container-->
