<div class="l-container">
  <div class="l-grid l-grid--third"><div class="demo-block"></div></div>
  <div class="l-grid l-grid--third"><div class="demo-block"></div></div>
  <div class="l-grid l-grid--third"><div class="demo-block"></div></div>
</div><!--end .l-container-->

<div class="leader l-container">
  <div class="l-grid l-grid--two-thirds"><div class="demo-block"></div></div>
  <div class="l-grid l-grid--third"><div class="demo-block"></div></div>
</div>
