<header class="the-page-header">

  <!-- Layout container -->
  <div class="l-container clearfix">

    <div class="leader trailer clearfix">
      <h1 class="heading-a l-inline-block">Create Article</h1>
      <button class="reset-appearance ensp-start js-toggle">
        <i class="iconset-libricons icon-star-empty content-header__action"></i>
      </button>
    </div>

  </div><!-- end .l-container -->

</header><!-- end .the-page-header -->
