 <div class="leader">
    <details>
      <summary>Show/Hide me</summary>
      <div class="details__body">
        <button class="button" type="button">Sleepy</button>
        <button class="button" type="button">Dopey</button>
      </div>
    </details>
</div>

<div class="leader">
  <div class="details-group">
    <details>
      <summary>Show/Hide me</summary>
      <div class="details__body">
        <form>
            <label>Text field</label>
            <input type="text" class="input-text">
            <label>Textarea</label>
            <textarea class="textarea"></textarea>
        </form>
      </div>
    </details>
    <details>
      <summary>Show/Hide me 1</summary>
      <div class="details__body">
        <label>Text field</label>
        <input type="text" class="input-text is-disabled" disabled="">
        <p class="form-item-description">This text field is disabled.</p>
      </div>
    </details>
    <details>
      <summary>Show/Hide me 1</summary>
      <div class="details__body">
        <form>
          <label>Text field</label>
          <input type="text" class="input-text">
        </form>
      </div>
    </details>
  </div>
</div>
