<div class="progress">
  <label class="label">Installing Node Module</label>
  <div class="progress__track">
    <div class="progress__bar" style="width: 63%"></div>
  </div>
  <div class="progress__description">
    <div class="l-pull">Installed 15 of 24 modules</div>
    <strong class="l-push">63%</strong>
  </div>
  <a class="progress__close" href="#" title="cancel">cancel</a>
</div>
